---
title: Welcome to Scorm-Fu 
---

<script src="components/organization.js" type="text/javascript"></script>
<%= partial "components/organization" %>

<script src="components/course.js" type="text/javascript"></script>
<%= partial "components/course" %>

<script src="components/registration.js" type="text/javascript"></script>
<%= partial "components/registration" %>

<div class="container organization-list">
  <div class="panel panel-default" id="content"> 

    <div class="panel-heading">
      Log in 
    </div>
    <div class="panel-body" id="form-login">
      <form>
        <div class="form-group">
          <label for="key">Login Key</label>
          <input type="key" class="form-control" id="key" placeholder="Key">
        </div>
        <a class="btn btn-default" onclick="login()">Login</a>
      </form>
    </div>

  </div>
</div>


<script language="javascript">
var _KEY_ = "";
function login() {
  _KEY_ = $("#key").val();
  var url = configuration.scormfu + _KEY_; 
  $.ajax({
      url:url, 
      jsonp: "callback",
      dataType: "jsonp",
      success: function( response ) {
        if(response) {
          console.log("login successful");
          $("#form-login").fadeOut();
          organizationController.list.dispatch();
        } 
      }
  });
}
</script>

